footer {
  background-color: var(--dark-color);
  font-size: var(--body-font-size-xs);
  color: var(--dark-link-color);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}
footer .footer a {
  color: var(--dark-link-color);
}

footer .footer ul {
  list-style-type: none;
}

footer .footer p + ul {
  font-size: 14px;
}

footer .footer p + ul > li{
  font-size: 12px;
}

footer .footer p {
  margin: 0;
}

footer .footer img {
  width: 100%;
  height: auto;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
